@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(billet_2.Components._Imports).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(billet_2.Components.MainLayout)" />
    </Found>
    <NotFound>
        <p>Página não encontrada.</p>
    </NotFound>
</Router>